<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sparky.lirenadmin.mapper.DailyRecordMapper">
  <resultMap id="BaseResultMap" type="com.sparky.lirenadmin.entity.DailyRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="record_date" jdbcType="TIMESTAMP" property="recordDate" />
    <result column="today" jdbcType="VARCHAR" property="today" />
    <result column="tomorrow" jdbcType="VARCHAR" property="tomorrow" />
    <result column="manager_no" jdbcType="BIGINT" property="managerNo" />
    <result column="shop_no" jdbcType="BIGINT" property="shopNo" />
    <result column="creator" jdbcType="BIGINT" property="creator" />
    <result column="is_valid" jdbcType="TINYINT" property="isValid" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, record_date, today, tomorrow, manager_no, shop_no, creator, is_valid, gmt_create, 
    gmt_modify
  </sql>
  <select id="selectByExample" parameterType="com.sparky.lirenadmin.entity.DailyRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_daily_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_daily_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_daily_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.sparky.lirenadmin.entity.DailyRecordExample">
    delete from t_daily_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sparky.lirenadmin.entity.DailyRecord">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_daily_record (record_date, today, tomorrow, 
      manager_no, shop_no, creator, 
      is_valid, gmt_create, gmt_modify
      )
    values (#{recordDate,jdbcType=TIMESTAMP}, #{today,jdbcType=VARCHAR}, #{tomorrow,jdbcType=VARCHAR}, 
      #{managerNo,jdbcType=BIGINT}, #{shopNo,jdbcType=BIGINT}, #{creator,jdbcType=BIGINT}, 
      #{isValid,jdbcType=TINYINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sparky.lirenadmin.entity.DailyRecord">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_daily_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="recordDate != null">
        record_date,
      </if>
      <if test="today != null">
        today,
      </if>
      <if test="tomorrow != null">
        tomorrow,
      </if>
      <if test="managerNo != null">
        manager_no,
      </if>
      <if test="shopNo != null">
        shop_no,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="isValid != null">
        is_valid,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModify != null">
        gmt_modify,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="recordDate != null">
        #{recordDate,jdbcType=TIMESTAMP},
      </if>
      <if test="today != null">
        #{today,jdbcType=VARCHAR},
      </if>
      <if test="tomorrow != null">
        #{tomorrow,jdbcType=VARCHAR},
      </if>
      <if test="managerNo != null">
        #{managerNo,jdbcType=BIGINT},
      </if>
      <if test="shopNo != null">
        #{shopNo,jdbcType=BIGINT},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=BIGINT},
      </if>
      <if test="isValid != null">
        #{isValid,jdbcType=TINYINT},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sparky.lirenadmin.entity.DailyRecordExample" resultType="java.lang.Long">
    select count(*) from t_daily_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_daily_record
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.recordDate != null">
        record_date = #{record.recordDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.today != null">
        today = #{record.today,jdbcType=VARCHAR},
      </if>
      <if test="record.tomorrow != null">
        tomorrow = #{record.tomorrow,jdbcType=VARCHAR},
      </if>
      <if test="record.managerNo != null">
        manager_no = #{record.managerNo,jdbcType=BIGINT},
      </if>
      <if test="record.shopNo != null">
        shop_no = #{record.shopNo,jdbcType=BIGINT},
      </if>
      <if test="record.creator != null">
        creator = #{record.creator,jdbcType=BIGINT},
      </if>
      <if test="record.isValid != null">
        is_valid = #{record.isValid,jdbcType=TINYINT},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModify != null">
        gmt_modify = #{record.gmtModify,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_daily_record
    set id = #{record.id,jdbcType=BIGINT},
      record_date = #{record.recordDate,jdbcType=TIMESTAMP},
      today = #{record.today,jdbcType=VARCHAR},
      tomorrow = #{record.tomorrow,jdbcType=VARCHAR},
      manager_no = #{record.managerNo,jdbcType=BIGINT},
      shop_no = #{record.shopNo,jdbcType=BIGINT},
      creator = #{record.creator,jdbcType=BIGINT},
      is_valid = #{record.isValid,jdbcType=TINYINT},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{record.gmtModify,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sparky.lirenadmin.entity.DailyRecord">
    update t_daily_record
    <set>
      <if test="recordDate != null">
        record_date = #{recordDate,jdbcType=TIMESTAMP},
      </if>
      <if test="today != null">
        today = #{today,jdbcType=VARCHAR},
      </if>
      <if test="tomorrow != null">
        tomorrow = #{tomorrow,jdbcType=VARCHAR},
      </if>
      <if test="managerNo != null">
        manager_no = #{managerNo,jdbcType=BIGINT},
      </if>
      <if test="shopNo != null">
        shop_no = #{shopNo,jdbcType=BIGINT},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=BIGINT},
      </if>
      <if test="isValid != null">
        is_valid = #{isValid,jdbcType=TINYINT},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sparky.lirenadmin.entity.DailyRecord">
    update t_daily_record
    set record_date = #{recordDate,jdbcType=TIMESTAMP},
      today = #{today,jdbcType=VARCHAR},
      tomorrow = #{tomorrow,jdbcType=VARCHAR},
      manager_no = #{managerNo,jdbcType=BIGINT},
      shop_no = #{shopNo,jdbcType=BIGINT},
      creator = #{creator,jdbcType=BIGINT},
      is_valid = #{isValid,jdbcType=TINYINT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>